<extend name="Public/common"/>
<block name="content">
<div class="tour_div clearfix">
	<div class="tour_title tc0"><a  href="javascript:;">全部歌手</a></div>
</div>
<JY:album result="v" limit="10" order="add_time" >
<div class="tm_div al_ls">
	<div class="tm_pro">
		<a href="<{$v['url']}>"><img class="tm_img"  src="<{$v['cover_url']}>"></a>
		<div class="tm_title">
			<div class="tm_title_bg"></div>
			<div class="tm_title_con">
				<div class="tm_title_con_1"><a href="<{$v['url']}>"><{$v['name']}></a></div>
			</div>
		</div>
	</div>
	<div class="tm_price">
		<a href="<{$v['artist_url']}>"><{$v['artist_name']}></a>
	</div>
</div>
</JY:album>
<div id="more" class="more" url="<{:U('getlist')}>">点击查看更多</div>
</block>