<extend name="Public/common"/>
<block name="content">
<div class="tour_div">
	<div class="tour_title tc0"><{$data['name']}></div>
	<div class="tour_img">
		<img class="tm_img" src="<{$data['cover_url']}>">
		<gt name="data['position']" value="0"><div class="tour_type"><img src="__TMPL__/Mobile/images/tourtag_0.png"></div></gt>
	</div>
	<div class="tour_info">
		<ul>
			<li>
				<span class="info_ti">所属类别:</span>
				<span class="info_dt"><{$data.type_name}></span>
			</li>
			
			<li>
				<span class="info_ti">所属地区:</span>
				<span class="info_dt"><{$data.region|default="未知"}></span>
			</li>
			<li>
				<span class="info_ti">歌曲数量:</span>
				<span class="info_dt"><JY:count artist_id="$data['id']" /></span>
			</li>
			<li>
				<span class="info_ti">专辑数量:</span>
				<span class="info_dt"><JY:count name="album" artist_id="$data['id']" /></span>
			</li>
			
			<li>
				<span class="info_ti">详细介绍:</span>
				<span class="info_dt"><{$data['introduce']|default="暂无介绍"}></span>
			</li>
		
		</ul>
	</div>
</div>

<div class="tour_div tabs">
	<div class="tour_title tc0">
		<a class="show_tab active" href="#tab1"><{$data['name']}>新歌</a>
		<a class="show_tab" href="#tab2"><{$data['name']}>专辑 </a>
		<!--a class="tour_more">>></a-->
	</div>
	<div class="tab_con in" id="tab1">
		<ul class="song_con">
			<JY:songs result="v" artist_id="$data['id']" limit="20" order="add_time">
			<li>
				<span class="numb"><{$i}></span>
				<a class="sname text-ellipsis" title="<{$v['name']}>" href="<{$v['url']}>"><{$v['name']}></a>
				<a class="gname text-ellipsis" title="<{$v['name']}>" href="<{$v['artist_url']}>"><{$v['artist_name']}></a>
				<a class="play" title="播放小<{$v['name']}>" href="<{$v['url']}>"></a>		
			</li>
			</JY:songs>		
		</ul>
	</div>
	
	<div class="tab_con" id="tab2">
		<JY:album result="v" artist_id="$data['id']" limit="20" order="add_time" >
		<div class="al_con">
			<a href="<{$v['url']}>">
				<img  src="<{$v['cover_url']}>">
			</a>
			<a class="al_info" href="<{$v['url']}>"><{$v['name']}></a>		
		</div>
		</JY:album>
	</div>

</div>
</block>