<extend name="Public/common"/>
<block name="topnav">
<div class="tm_div  clearfix">
	<div class="tour_title tc0" >根据网友点播系统自动生成歌曲排行榜</div>
	<div class="renqi_1">
		<ul id="top10">
			<li class="<if condition="ACTION_NAME eq 'index'">yesselected<else />noselected</if>"><a href="<{:U('index')}>">总人气</a></li>
			<li class="<if condition="ACTION_NAME eq 'hot'">yesselected<else />noselected</if>"><a href="<{:U('hot')}>">总推荐</a></li>
			<li class="<if condition="ACTION_NAME eq 'down'">yesselected<else />noselected</if>"><a href="<{:U('down')}>">总下载</a></li>
			<li class="<if condition="ACTION_NAME eq 'fav'">yesselected<else />noselected</if>"><a href="<{:U('fav')}>">总收藏</a></li>
		</ul>
	</div>

</div>	
</block>
<block name="content">
<div class="tour_div ">
	<ul class="song_con">
		<JY:songs result="v" limit="15" order="$order" >
		<li>
			<span class="numb"></span>
			<a class="sname text-ellipsis" title="<{$v['name']}>" href="<{$v['url']}>"><{$v['name']}></a>
			<a class="gname text-ellipsis" title="<{$v['name']}>" href="<{$v['artist_url']}>"><{$v['artist_name']}></a>
			<a class="play" title="播放小<{$v['name']}>" href="<{$v['url']}>"></a>		
		</li>
		</JY:songs>	
		<div id="more" class="more clearfix" style="margin-top:20px;" url="<{:U('getlist')}>" limit="15" order="<{$order}>">点击查看更多</div>			
	</ul>				
</div>
</block>