<extend name="Public/common" />

<block name="warp">
<div class="tabbable tabbable-custom tabbable-reversed">
	<ul class="nav nav-tabs">
		<li>
			<a href="<{:U('index')}>">我的专辑</a>
		</li>
		<li  class="active">
			<a href="<{:U('create')}>">添加专辑</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="tab_in" class="tab-pane active">
			<div class="alert alert-warning">
				<b>随意创建专辑，我将会立即删除，多次随意创建封号处理 </b>
			</div>
			<form class="form-horizontal" action="<{:U('')}>" method="post" id="album-form">
				<div class="form-body">
				    <div class="form-group">
                   		<label class="col-lg-3 control-label">专辑名称*</label>
                    	<div class="col-lg-4">
							<input type="text" name="alb" value="<{$data.name|default=''}>" class="form-control">																
						</div>                           
                    </div>
					<div class="form-group">
                        <label class="col-lg-3 control-label">所属分类*</label>                                
                        <div class="col-lg-4">
                            <select class="form-control" name="type">
							<JY:altype result="vo" limit="10">
                          	    <option <notempty name="data['type_id']"> <if condition="$data['type_id'] eq $vo['id'] ">selected='selected'</if></notempty> value="<{$vo.id}>"><{$vo.name}></option>
                            </JY:altype>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">		        			
	                    <label class="col-md-3 control-label">选择封面*</label>				
						<div class="col-md-9 dcover-list"> 
							<foreach name="covers" item="v" key="k">
							<a class="item select-cover <eq name="k" value="0"> active</eq>" data-src="<{$v}>" href="javascript:;">
								<img src="<{$v}>">
								<span class="sel"></span>
							</a>
			            	</foreach>
							<input type="hidden" id="img-url" value="<{$data['cover_url']|default=$covers[0]}>" name="img_url" >
						</div>
		            </div>
		          
                   	<div class="form-group">
                   		<label class="col-lg-3 control-label">唱片公司</label>
                    	<div class="col-lg-4">
							<input type="text" value="<{$data.company|default=''}>" name="company" class="form-control">							
						</div>                           
                    </div>

					<div class="form-group">
						<label class="col-md-3 control-label">专辑介绍*</label>
	                    <div class="col-md-8">
	                        <textarea class="form-control" name="intr" rows="4" placeholder="请填专辑介绍"><{$data.introduce|default=''}></textarea>

	                    </div>                  	
	                </div>

					<div class="form-group ">
						<div class="col-md-4 col-md-offset-3">
							<button class="btn btn-danger" tagform="#album-form">确认提交</button>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
</block>

<block name="script">
<script script type="text/javascript">
$.validator.setDefaults({
	submitHandler: function(form) {
		postForm(form);
		return false;		
	}
});
$().ready(function() {
	$("#album-form").validate({
		rules: {
			alb:{
				required: true,
				rangelength:[2,40]
			},
			type: {
				required: true,
				digits: true
			}
		},
		messages: {
			alb: {
				required: '名称不能为空',
				rangelength:'名称长度2-32个字符'
			},
			type: {
				required: "请选择所属分类",
				digits: "请选择所属分类"
			}
		}
	});
	
	$('.select-cover').click(function(){
		$(this).addClass('active').siblings().removeClass('active');
		var val	= $(this).attr('data-src');
		$('#img-url').val(val);
	})
});

</script>
</block>
