<extend name="Home/common" />

<block name="content">
<div class="row">
	<div class="col-sm-8">
		<div class="header">TA的专辑</div>
		<div class="row clearfix album_list">
			<ME:album result="v" uid="$user['uid']" limit="27" page="1" order="add_time">
			<div class="col-sm-4">
				<a class="acover" href="<{$v['url']}>"> <img alt="<{$v['name']}>" src="<{$v['cover_url']}>"></a>
				<span class="aname text-ellipsis">
				<a href="<{$v['url']}>"> <{$v['name']}></a>
				</span>
			</div>
			</ME:album>
		</div>
		<ul class="horizontal_list clearfix mt_10 page_list"><{$v_page}></ul>
	</div>
	<div class="col-sm-4 aside">
		<div class="user-fans">
			<div class="header">TA的粉丝<a class="more" href="">更多&gt;&gt;</a></div>
			<ul class="clearfix">
				<li>
					<div class="image"><a href=""><img alt="" src="<{:get_user_avatar($user['uid'])}>"></a></div>
					<div class="name"><a href=""><{$user['nickname']}></a></div>
				</li>

			</ul>
		</div>

		<div class="user-fans">
			<div class="header">TA的访客<a class="more" href="">更多&gt;&gt;</a></div>
			<ul class="clearfix">				
				<ME:visitor result="v" limit="12">
				<li>
					<div class="image"><a href="<{$v['url']}>"><img alt="" src="<{:get_user_avatar($v['uid'])}>"></a></div>
					<div class="name"><a href="<{$v['url']}>"><{$v['nickname']}></a></div>
				</li>
				</ME:visitor>
			</ul>
		</div>
	</div>
</div>
</block>

