<extend name="Public/common" />

<block name="warp">
<div class="tabbable tabbable-custom tabbable-reversed">
	<ul class="nav nav-tabs">
		<li>
			<a href="<{:U('index')}>">我的关注</a>
		</li>
		<li class="active">
			<a href="<{:U('fans')}>">我的粉丝</a>
		</li>
	</ul>
	<div class="tab-content clearfix">
		<div class="row clearfix album_list">
			<ME:follow  name="songs" result="v" uid="$user['uid']" limit="20" page="1" >
			<div class="col-sm-3">
				<a class="acover" href="<{$v['url']}>"> <img alt="<{$v['name']}>" src="<{$v['cover_url']}>"></a>
				<span class="aname text-ellipsis">
				<a href="<{$v['url']}>"> <{$v['name']}></a>
				</span>
			</div>
			</ME:follow>
		</div>
		<ul class="horizontal_list clearfix mt_10 page_list"><{$v_page}></ul>

	</div>
</div>
</block>

