<extend name="Public/common"/>
<block name="content">
<div class="page_content_offset">
	<div class="container">
		<div class="row clearfix">
			<div class="col-sm-8 col-xs-12">
				<div class="clearfix mb_15">
						<h2 class="f_left pt_10">全部艺人</h2>
						<div class="custom_select relative portfolio_filter clearfix f_right">
							<div class="select_title type_2  relative mw_0">本页分类类型</div>
							<ul id="filter_portfolio" class="select_list d_none"></ul>
							<select>
								<option data-filter="*" value="All">全部</option>
								<volist name="type" id="vo">
									<option data-filter=".type_<{$vo.id}>" value="type_<{$vo.id}>"><{$vo.name}></option>
								</volist>
							</select>
						</div>
				</div>
				<hr class="mb_10 ">
				<!--图片组合-->
				<section class="portfolio_masonry_container">
					<JY:artist result="vo" limit="28"  page="1" order="update_time">
					<div class="portfolio_item t_align_c type_<{$vo.type_id}>">
						<figure class="d_inline_b ">
							<div class="photoframe  relative shadow wrapper artist_cover">
								<a href="<{$vo['url']}>"  class="">
									<img src="<{$vo['cover_url']|default="/Uploads/Picture/artist_cover.jpg"}>" alt="<{$vo['name']}>" class="tr_all_long_hover">
								</a>
								<figcaption class="t_align_c text-ellipsis">
									<h5 class="mb_3 mt_5"><{$vo['name']}></h5>
								</figcaption>
							</div>
						</figure>
					</div>
					</JY:artist>
				</section>
				
				<div class="clearfix mb_15">
					<div class="col-sm-4 col-xs-5">
						<p class="page_total"><{$vo_total}>位音乐人</p>
					</div>
					<div class="col-sm-8 col-xs-7 t_align_r">
						<ul class="horizontal_list clearfix d_inline_middle ml_10 page_list"><{$vo_page}></ul>				
					</div>
				</div>
				
			</div>
			
			<div class="col-sm-4 col-xs-12">
				<!--侧边栏-->
				<include file="Sidebar/newArtist"/>				
				<include file="Sidebar/adver"/>
				<include file="Sidebar/hotListens"/>
			</div>
		</div>
	</div>
</div>
</block>
