<extend name="Public/common"/>
<block name="content">
<!--包屑-->
<div class="page_content_offset">
	<div class="down_page container">
		<section class="col-sm-9 m_xs_bottom_10">

			<div class="row clearfix pt_10">	
				<div class="col-lg-12">
					<h2 class="mt_20">您要下载的音乐</h2>
					<hr>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-12">				
					<div class="f_left">
						<img height="70" width="70" src="<{$data.cover_url}>">
					</div>
						
					<div class="f_left ml_20">
						<h4 class="mb_20">
							<if condition="$data.artist_id neq '0'"><{$data.artist_name}> --</if>
							<{$data.name}>
						</h4>
						<div class="mb_10"><{:hook('pageBody',array('widget'=>'Baidushare'))}></div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<a class="mb_10 down_muisc d_block btn_1 text-center" onclick="downMusic(<{$data['id']}>)" href="javascript:;">
						<span class="d_inline_middle">
							<b>本地高速下载1</b>
						</span>
					</a>
					
					<a class="d_block down_muisc btn_1 text-center" onclick="downMusic(<{$data['id']}>)" href="javascript:;">
						<span class="d_inline_middle">
							<b>本地高速下载2</b>
						</span>
					</a>
				</div>
			
			</div>
			<hr class="mb_10 ">
			<div class="row clearfix pt_10">					
				<div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 t_align_l mb_20">
					<h2 class="">详细信息</h2>
				</div>
			
			</div>

			<div class="row clearfix mb_20 pt_10">
				<div class=" col-lg-6 col-md-6 col-sm-12">
					<span class="mb_15 d_block">上传会员：<a href="<{$data['user_url']}>"><{$data.up_uname}></a></span>
					<span class="mb_15 d_block">所属专辑：<a href="<{$data['album_url']}>"><{$data.album_name}></a></span>
					<span class="mb_15 d_block">所属艺人：<a href="<{$data['artist_url']}>"><{$data.artist_name}></a></span>
					<span class="mb_15 d_block">所属曲风：<a href="<{$data['genre_url']}>"><{$data.genre_name}></a></span>
				</div>	
				<div class=" col-lg-6 col-md-6 col-sm-12">						
					<span class="mb_15 d_block">下载次数：<{$data.download}></span>
					<span class="mb_15 d_block">试听次数：<{$data.listens|number_format}></span>
					<span class="mb_15 d_block">收藏次数：<{$data.favtimes}></span>
				</div>
			</div>
			<hr class="mb_10 ">
			<div class="row clearfix pt_10">					
				<div class="col-lg-5 col-md-4 col-sm-4 col-xs-5 t_align_l  mb_20">
					<h2 >友情提示</h2>
				</div>
			
			</div>
			<div class="row clearfix mb_20 pt_10">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<span class="mb_15 d_block">需要登录才可以下载，左键单击下载按钮即可下载，不能使用右键另存为</span>
					<span class="mb_15 d_block">如果还没账号的请点上方注册按钮</span>
					<span class="mb_15 d_block">如果还没登录的请点上方登录按钮</li>
				</div>							
			</div>
			
		</section>
		
		<aside class="col-lg-3 col-md-3 col-sm-3">
			<include file="Sidebar/hotDown"/>
		</aside>
	</div>
</div>
</block>
