<extend name="Public/common"/>
<block name="content">
<div class="page_content_offset">
	<div class="container">
		<div class="row clearfix">
			<!--left content column-->
			<section class="col-sm-6 col-sm-offset-3 login-box">
				<if condition="ACTION_NAME eq  'findpwd'">
				<h2 class="mb_20"><i class="jy jy-login mr_20"></i>找回密码</h2><br>
				<form class="form-horizontal" action="<{:U()}>">
					<div class="form-group">
						<label class="col-lg-2 control-label">邮箱<span class="scheme_color">*</span></label>
						<div class="col-lg-8">
							<input type="email" name="email" class="form-control" placeholder="请使用正确的E-mail">
						</div>                               	                           	
					</div>
										
					 <div class="form-group">
						<label class="control-label col-lg-2">验证码<span class="scheme_color">*</span></label>
						<div class="col-lg-8">
							<input type="text" id="inputPassword" class="form-control" placeholder="请输入验证码" name="verify">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2"></label>
						<div class="col-lg-8">
							<img class="verifyimg reloadverify" alt="点击切换" src="<{:U('verify')}>" style="cursor:pointer;">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<button class="btn_8 mr_20">确认提交</button>
						</div>
					</div>				
				</form>
				<else />
				<h2 class="mb_20"><i class="jy jy-login mr_20"></i>密码重置</h2><br>
				<form class="form-horizontal" action="<{:U()}>">
					<div class="form-group">
						<label class="col-lg-2 control-label">密码<span class="scheme_color">*</span></label>
						<div class="col-lg-8">
							<input type="password" class="form-control" name="password"  placeholder="6~18个字符,区分大小写">
						</div>                               	                           	
					</div>
					
					<div class="form-group">
						<label class="col-lg-2 control-label">确认密码<span class="scheme_color">*</span></label>
						<div class="col-lg-8">
							<input type="password" name="repassword" class="form-control" placeholder="确认密码必须与密码相同">
						</div>                               	                           	
					</div>
					<input type="hidden" name="token" value="<{$token}>" >
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<button class="btn_8 mr_20">确认提交</button>
						</div>
					</div>				
				</form>
				</if>
			</section>
		</div>
	</div>
</div>
</block>
<block name="script">
	<script type="text/javascript">
    	$("form").submit(function(){
    		var self = $(this);
			self.find("button").html("正在提交...").attr("disabled", true);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;
		
    		function success(data){
    			if(data.status){
    				infoAlert(data.info + ' 页面即将自动跳转~',true);
                   	setTimeout(function(){
                        if (data.url) {
                            location.href=data.url;
                        }
                    },1500);
    			} else {
    				infoAlert(data.info);
    				//刷新验证码
    				$(".reloadverify").click();
    			}
				self.find("button").html("确认提交").attr("disabled", false);
    		}
			
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
	</script>
</block>