<extend name="Public/common"/>
<block name="content">
<div class="page_content_offset">
	<div class="container">
		<div class="row clearfix">
			<!--left content column-->
			<section class="col-sm-6 col-sm-offset-3 login-box">
				<h2 class="mb_25"><i class="jy jy-unlock mr_20"></i>用户注册</h2>
				<hr>
				<p class="mb_10">请完整填写以下信息进行注册。<span class="scheme_color">*</span></p>				

				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-lg-2 control-label">用户名<span class="scheme_color">*</span></label>
						<div class="col-lg-8">
							<input type="text" name="username"  class="form-control" placeholder="4-15个字母、数字等字符">
						</div>                               	                           	
					</div>
					
					<div class="form-group">
						<label class="col-lg-2 control-label">邮箱<span class="scheme_color">*</span></label>
						<div class="col-lg-8">
							<input type="email" name="email" class="form-control" placeholder="请使用正确的E-mail">
						</div>                               	                           	
					</div>
					
					<div class="form-group">
						<label class="col-lg-2 control-label">密码<span class="scheme_color">*</span></label>
						<div class="col-lg-8">
							<input type="password" class="form-control" name="password"  placeholder="6~18个字符,区分大小写">
						</div>                               	                           	
					</div>
					
					<div class="form-group">
						<label class="col-lg-2 control-label">确认密码<span class="scheme_color">*</span></label>
						<div class="col-lg-8">
							<input type="password" name="repassword" class="form-control" placeholder="确认密码必须与密码相同">
						</div>                               	                           	
					</div>
					
					 <div class="form-group">
						<label class="control-label col-lg-2">验证码<span class="scheme_color">*</span></label>
						<div class="col-lg-8">
							<input type="text" id="inputPassword" class="form-control" placeholder="请输入验证码" name="verify">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2"></label>
						<div class="col-lg-8">
							<img class="verifyimg reloadverify" alt="点击切换" src="<{:U('verify')}>" style="cursor:pointer;">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2"></label>
						<input type="checkbox" id="checkbox_4" name="ais_agree" value="on" class="d_none">
						<label for="checkbox_4">我接受 <a class="color-blue" href="<{:U('/Pact')}>" target="_blank">《<{:C('WEB_SITE_NAME')}>服务协议》</a></label>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<button class="btn_8 mr_20" type="submit">立即注册</button>或者使用第三方登录
							<a class="sina-btn " href="<{:U('Oauth/login?type=sina')}>" class="color_dark"><i class="jy jy-sina"></i></a>
							<a class="qq-btn" href="<{:U('Oauth/login?type=qq')}>" class="color_dark"><i class="jy jy-qq"></i></a>	
						</div>
					</div>
										
				</form>	
			</section>
		</div>
	</div>
</div>
</block>
<block name="script">
	<script type="text/javascript">
    	$("form").submit(function(){
    		var self = $(this);
			self.find("button").html("正在提交...").attr("disabled", true);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;		
    		function success(data){
    			if(data.status){
    				infoAlert(data.info + ' 页面即将自动跳转~',true);
                   	setTimeout(function(){
                        if (data.url) {
                            location.href=data.url;
                        }
                    },1500);
    			} else {
    				infoAlert(data.info);
    				//刷新验证码
    				$(".reloadverify").click();
    			}
				self.find("button").html("立即注册").attr("disabled", false);
    		}
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
	</script>
</block>