<extend name="Public/common"/>
<block name="content">

<!--内容-->
<div class="page_content_offset">
	<div class="container">
		<div class="row clearfix">
			<aside class="col-sm-3">
				<h2 class="pt_10">关于网站</h2>
				<hr>
				<div class="sidebar_content">
					<ul class="main_menu c_rank">
						<JY:info name="site" result="v" cache="86400">
						<li class="<eq name="v['name']" value="$info['name']">current</eq>">
							<a class="mb_0" title="<{$v['title']}>" href="<{$v['url']}>"><{$v['title']}></a>
						</li>
						</JY:info>
					<ul>
				</div>
		
				<div class="sidebar_content">
					<ul class="main_menu c_rank">
						<JY:info name="site" type="help" result="v" cache="86400">
						<li class="<eq name="v['name']" value="$info['name']">current</eq>">
							<a class="mb_0" title="<{$v['title']}>" href="<{$v['url']}>"><{$v['title']}></a>
						</li>
						</JY:info>
					<ul>
				</div>
			</aside>
		
			<section class="col-lg-9 col-md-9 col-sm-9 ">
				<!--详细-->
				<article class="mb_15">
					<div class="row clearfix mb_15">
						<div class="col-lg-9 col-md-9 col-sm-8">
							<h2 class="mb_5 fw_medium m_xs_bottom_10"><{$info['title']}></h2>
						</div>
					</div>
					<hr class=" mb_20">
					<!--文章-->
					<div class="widget_content mb_15">
						<{$info.content}>
					</div>					
				</article>
			
			</section>

		</div>
	</div>
</div>
</block>
