<extend name="Public/common"/>
<block name="content">
<!--content-->
<div class="page_content_offset">
	<div class="container">
		
		<div class="row clearfix">
			<section class="col-sm-9">
				<div class="info_hd clearfix">	
					<h3 class="hd"><{$data['title']}></h3>
			    </div>
			    <div class="main_list">
			   	
			   		<JY:info result="v" cate="$data['id']" limit="10" page="1">
					<a href="<{$v['url']}>" class="info_list_item">
						<notempty name="v['cover_url']">
						<img alt="<{$v['title']}>" src="<{$v['cover_url']}>">
						</notempty>	
						<div>
							<h1><{$v['title']}></h1>
							<p><{$v['create_time']|time_format}></p>
							<span><{$v['description']|msubstr=0,120}>[详细]</span>
						</div>
					</a>
					</JY:info>			
				</div>
				<div class="row clearfix mb_15">
					<div class="col-sm-8 t_align_c">
						<ul class="horizontal_list clearfix page_list"><{$v_page}></ul>
					</div>
				</div>
			</section>

			<aside class="col-sm-3">
				<div class="side_info_con">
					<h2 class="hd"><{$data['title']}>热点</h2>
					<ul class="side_info_list">
						<JY:info result="v" cate="$data['id']" cover="1" limit="6" order="view" cache="86400">				
						<li><a target="_blank" href="<{$v['url']}>"><img width="74" height="56" border="0" src="<{$v['cover_url']}>" alt="<{$v['title']}>"></a>
							<p>
								<a href="<{$v['url']}>"><{$v['title']}></a>
								<span><{$v['create_time']|time_format}></span> 
							</p>
						</li>
						</JY:info>
					</ul>
				</div>
				<div class="side_info_con"><{:hook('Ads','right_up')}></div>
				<div class="side_info_con">
					<div class="top_list ">
						<h2 class="hd">最新推荐</h2>
						<ul>
							<JY:info result="v" limit="10" cache="86400" key="li">
		
							<li class="text-ellipsis"> 
								<a target="_blank" href="<{$v['url']}>" ><{$v['title']}></a>
							</li>
							</JY:info>							
						</ul>					
					</div>
				</div>
			</aside>

		</div>

	</div>
</div>

</block>